{% extends "stacked.html" %}

{% block title %}
    Server Error
{% endblock title %}

{% block content %}

<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="d-flex flex-column align-center justify-content-center text-center" style="height: 85vh">
        <div class="error mx-auto" data-text="500">500</div>
        <p class="lead text-gray-800 mb-5">Server error</p>
        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
        <a href="{% url 'dashboard' %}">&larr; Back to Dashboard</a>
    </div>
</div>

{% endblock %}