{#% for field in form %#}
	<div>
	{% for error in field.errors %}
	    <div class="alert alert-danger alert-dismissible fade show d-flex flex-row p-0" role="alert">
	        <button type="button" class="btn btn-close text-end d-flex flex-row flex-grow-1 align-items-center justify-content-between" data-dismiss="alert" aria-label="Close">
	            <p class="mb-0">{{ error }}</p>
	            <i class="fas fa-times fa-sm fa-fw"></i>
	        </button>
	    </div>
	{% endfor %}
	</div>
{#% endfor %#}

{% if form.non_field_errors %}
	{% for error in form.non_field_errors %}
		<div class="alert alert-danger alert-dismissible fade show d-flex flex-row p-0" role="alert">
		    <button type="button" class="btn btn-close text-end d-flex flex-row flex-grow-1 align-items-center justify-content-between" data-dismiss="alert" aria-label="Close">
		        <p class="mb-0">{{ error }}</p>
		        <i class="fas fa-times fa-sm fa-fw"></i>
		    </button>
		</div>
	{% endfor %}
{% endif %}