{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Nape Ntsoane">

    <title>{{ BRAND_NAME|title }} | {% block title %}{% endblock title %}</title>

    {% include 'base/css.html' %}
    <link rel="stylesheet" href="{% static 'css/stacked.css' %}" />
</head>

<body class="bg-light">

	{% include 'base/stacked-topbar.html' %}

    <main role="main">
    	{% block content %}
    	{% endblock content %}

	   {% include 'base/stacked-footer.html' %}
    </main>

	{% include 'base/js.html' %}
</body>