{% load static %}

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand font-weight-bold col-md-3 col-lg-2 mr-0 px-3" href="#">{{ BRAND_NAME|title }}</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="w-100">
    <form method="GET" action="#">
      <input class="form-control form-control-dark w-100" name="q" value="{{ request.GET.q }}" type="text" placeholder="Search" aria-label="Search" hx-get="#search-url" hx-trigger="keyup changed delay:200ms" hx-include="#extra-search-form-fields" hx-target="typeahead-results">
    </form>
    <div id="typeahead-results"></div>
  </div>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap d-md-block collapse">
      <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
    </li>
  </ul>
</nav>